body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.first-letter{
    color: #fff;
}

.ev-loader{
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
}